---
import type { GetStaticPaths } from "astro";


//codigo server side only
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type {PokemonList, PokemonInfo} from "../../interfaces/pokemon-list";


export const getStaticPaths = (async({paginate}) => {
	
	const response  =  await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
	const {results} = (await response.json()) as PokemonList;
	return paginate(results, {pageSize: 20});
}) satisfies GetStaticPaths;

const  title = "Pokemon | Home"

const {page} = Astro.props;
---

	<MainLayout title={title}/>
	<h1 class="text-5xl text-center font-bold py-12 bg-gradient-to-r from-neutral-200 via-red-300 to-orange-600 text-transparent bg-clip-text">Listado de Pokemons</h1>
	<section
	class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 container mx-auto"
	aria-label="Listado de pokemones">
	{
		page.data.map((pokemon) => (
			<PokemonCard name={pokemon.name} url={pokemon.url} />
		))
	}
	</section>

	<article class="flex px-10 mt-10 items-center justify-center pb-20">
			<a class="text-slate-50 text-2xl font-medium mx-10 btn" href={page.url.prev}>Anterior</a>
			<span class="text-slate-50 text-2xl font-medium  mx-10">{page.currentPage}</span>
			<a class="text-slate-50 text-2xl font-medium  mx-10 btn" href={page.url.next}>siguiente</a>
	</article>

	</MainLayout>

	<style>
		.btn{
			@apply bg-gradient-to-r from-slate-800/70 via-gray-200/40 to-slate-800/70 text-slate-100 rounded-lg px-5 py-2 hover:scale-105 transition-all duration-500 hover:cursor-pointer
		}
		.disabled{
			@apply bg-slate-400/70 text-gray-300
		}
	</style>