---
import { siteInfo } from '@/globals/consts';
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string;
    image?: string;
    description?: string;
}
const { title=siteInfo.title, image, description=siteInfo.description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- SEO -->
    <meta name="description" content={description}/>
    <meta name="author" content="Alessandro Díaz"/>
    <!-- Open Graph Tags -->
     <meta property="og:title" content={title}/>
     <meta property="og:description" content={description}/>
     <meta property="og:image" content={image}/>

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative min-h-screen text-slate-100">
    <div class="absolute inset-0 z-[-2] h-full bg-[#fb1313] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
    <div class="relative z-10 ">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color: #fff;
  }
</style>
